/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear-fix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.inline-menu > li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 0;
}
.inline-menu a {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: gray;
}
.inline-menu a:hover{
    color: black;
}

.paragraph {
    font-size: 14px;
}
.title {
    display: inline-block;
    padding: 10px 0;
    color: black;
}
.text {
    color: grey;
}
.black-layer {
    height: 243px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.round-corners{
    border-radius: 10px;
}

/* header */

#logo {
    height: 75px;
}
#logo-container {
    display: inline-block;
    border-right: 1px solid lightgray;
    padding-right: 30px;
    margin-bottom: 40px;
}

#banner {
    height: 500px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
}
#text-container {
    height: 500px;
    padding: 350px 600px 40px 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

/* main content section */

.title-structure {
    margin-bottom: 30px;
    margin-top: 50px;
}
#main-title {
    font-size: 40px;

}
#subtitle {
    color: gray;
}

#central-spot {
    width: 58%;
    float: left;
    margin: 1%;
    background-repeat: no-repeat
}
#central-image {
    background-image: url("../img/banner-2.jpg");
    background-size: cover;
    background-position: center;
}

aside {
    width: 20%;
    margin: 1% 0;
}

#left {
    float: left;
}
#left-image {
    background-image: url('../img/img-1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

#right {
    float: right;  
}
#right-image {
    background-image: url("../img/img-4.jpg");
    background-repeat: no-repeat;   
}

/* page ending */

#close-page {
    height: 75px;
    margin: 20px 0;
    line-height: 75px;
    text-align: center;
}
