
/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear-fix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.inline-menu > li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 0;

}
.inline-menu a {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: gray;
}
.inline-menu a:hover{
    color: black;
}

/* header */

img {
    height: 75px;
}
#logo {
    display: inline-block;
    border-right: 1px solid lightgray;
    padding-right: 30px;
}

nav {
    padding-top: 40px;
}

#banner {
    height: 500px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

#text-container {
    height: 500px;
    padding: 350px 600px 40px 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

/* main content section */


main {
    padding-bottom: 1%;
    background-color: blue;
}

#upper-banner {
    height: 80px;
    background-color: cyan;
    margin-bottom: 1%;
}

#central-spot {
    width: 50%;
    float: left;
    height: 570px;
    margin: 1%;
    background-color: cyan;
}

aside {
    height: 570px;
    width: 24%;
    margin: 1% 0;
    background-color: cyan;

}
#left {
    float: left;
}
#right {
    float: right;
}


/* page ending */

#close-page {
    height: 75px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: blueviolet;
}